
#headBg {
    background-image: url("./images/head_rainbow.jpg");
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#headText {
    width: 800px;
    background-color: rgb(97, 90, 75, 0.7);
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    margin:0 auto;
    position: relative;
    top: 170px;
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    color:white;
    font-size: 40px;
}

#headText h1 {
    margin:0;
}

#headText p {
    margin:0;
    font-family: 'Quicksand', sans-serif; 
}

#navHead {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(180, 168, 144);
    position: fixed;
    width: 100%;
    z-index: 1;
    right: 0;
}

#navHead li a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

#navHead li a:hover {
    color: rgb(97, 90, 75);
}


body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

ul#navFooter {
    background-color:rgb(180, 168, 144);
    display: flex;
    justify-content: right;
    margin-bottom: 0;
    padding: 10px;
}

.navFoot img {
    height: 40px;
    width: 40px;
    padding: 0 10px;
}

li.navFoot, li.navFootlogo{
    list-style: none;
}

.navFootlogo img{
    height: 40px;
    width: 130px;
    padding-left:5px ;
}

ul#navFooterLeft {
    background-color: rgb(180, 168, 144);
    display: flex;
    justify-content: left;
}


ul#navFooter {
    display: grid;
    grid-template-columns: 12fr 0.5fr 0.5fr;
}
